{%extends "MainApp/base.html"%}
{%block content%}
<p>
    <p><a href="{% url 'MainApp:topic' topic.id %}">{{topic}}</a></p>
    <p>Edit entry:</p>
    <form action="{%url 'MainApp:edit_entry' entry.id %}" method='post'>
        {% csrf_token %}

        {{form.as_p}}
        <button name="submit">Save changes</button>


    </form>
</p>
{%endblock content%}

{% for entry in entries %}
<li>
    <p>{{ entry.date_added|date: 'M d, Y H:i' }}</p>
    <p>{{ entry.text|linebreaks }}</p>
    <p>
        <a href="{% url 'MainApp:edit_entry' entry.id%}">Edit entry</a>
    </p>

</li>